body{
	font-family: 'Montserrat', sans-serif;
}
#loading{
	height: 100vh; 
	width: 100%; 
	background-color: white;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 1001;
}

nav.navbar.navbar-dark{
	background-color: rgba(0,0,0,.7)!important;
}
nav.fix{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
button:focus {
    box-shadow:none !important;
    outline: 0px !important;
}
.navbar-brand{
	/*font-family: 'Lobster', cursive;*/
	font-size: 24px;
	font-weight:light;
}

#nadis{
	width:0px;
}

.nav-item{
	text-align: center;
}

li.nav-item.shrink:hover{
	background-color: rgba(255,255,255,.2);
}


/*body*/
#jump{
	background-color: rgba(255,255,255,0.3);
  	padding: 0;
}

#background{
	position: fixed;
	top: 0;
	min-height: 100vh;
	width: 100vw;
	z-index: -100;
	background-image: url("./IMG/home2.jpg");
	background-position: center center;
	background-size: cover;
  	background-repeat: no-repeat;	
}

/*Home*/
#home{
	background-color: rgba(0,0,0,0.5);
	color: rgba(255,255,255,1);
}
#home .name{
	font-size: 70px;
	text-align: center;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5),-1px -2px 4px rgba(0, 0, 0, 0.5);
	font-family: 'Caveat', cursive;
}
#home .descript{
	font-size: 40px;
	text-align: center;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5),-1px -2px 4px rgba(0, 0, 0, 0.5);
	font-family: 'Caveat', cursive;
	border-top: 2px solid white;
}

#home .btn{
	border: 2px solid rgba(255,255,255,1);
	background-color: transparent;
	color:  rgba(255,255,255,1);
	position:absolute;
	bottom: 80px;
	right: 80px;
}
#home .btn:hover{
	background-color: rgba(255,255,255,1);
	color:  black;
}

@media (hover: none) {
    #home .btn:hover {
    	background-color: transparent;
		color:  rgba(255,255,255,1);
    }
}

@media (max-width: 991px){
	#home .descript{
	font-size: 28px;}

	#home .btn{
	margin-top: 25px;
	position: static;
	}
}
@media (max-width: 575px){
	#home .descript{
	font-size: 25px;}	
}

/*About Me*/
#propic{
	border-radius: 50%;
	border-width: .5rem;
	border-style: solid;
	border-color: white;
	padding:0;
	box-shadow: 2px 0px 6px 0 rgba(0, 0, 0, 0.07),
				-2px 0px 6px 0 rgba(0, 0, 0, 0.07),
				0px 2px 6px 0 rgba(0, 0, 0, 0.07),
				0px -2px 6px 0 rgba(0, 0, 0, 0.07);
}

#about .title{
	text-align: center;
	font-size: 50px;
}

@media (max-width: 575px){
	#about .title{
	text-align: center;
	font-size: 28px;
	}
}

/*CV*/
#cv{
	color: rgba(80,80,80,1);
}

#cv .subtitle{
	font-size: 27px;
	border-bottom: 2px solid rgba(80,80,80,1);
	margin-bottom: 25px;
}

#cv .first{
	font-size: 16px;
	font-weight: bold; 
}

#cv .second{
	font-size: 12px;
	color: rgba(120,120,120,1);
}

#cv .institution{
	color: rgb(0,70,130);
	text-align: left;
}

#cv .country{
	font-weight: bold;
}

#cv #skills .hdr{
	font-weight: bold;
}

#cv #skills .subskill{
	font-size: 12px;
	margin-left: .5rem;
	line-height: 15px;
}

#cv #cv-btn {
	position: absolute;
	bottom: 60px;
	right: 0px;
}

@media (max-width: 991px){
	#cv #cv-btn {
	position: static;
	margin-bottom: 50px; 
	}
}

@media (hover: none) {
    #cv .btn:hover {
    	border: #007bff;;
    	background-color: #007bff;;
    }
}

/*Porfolio*/

/*Contact*/
#contact{
	background-color: rgba(0,0,0,.2);
}

#in-contact{

}

#contact .title{
	text-align: center;
	font-size: 50px;
}

@media (max-width: 575px){
	#contact .title{
	text-align: center;
	font-size: 28px;
	}
}

#contact .subtitle{
	font-size:22px;
}

#contact .social img{
	width:50px;
}

#contact #s-media{
	border-bottom: 1px solid rgba(200,200,200,0.5);
}

/*General*/
.innerjump{
	text-align: justify;
	box-shadow: 4px 0px 6px 0 rgba(0, 0, 0, .2),-4px 0px 6px 0 rgba(0, 0, 0, 0.2);
}

.blt{
	background: linear-gradient(120deg, rgba(10,40,80,1) 0%, rgba(100,140,220,.9) 95%, rgba(100,140,220,.8) 100%);
	color: white;
}

.wht{
	background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.9) 95%, rgba(255,255,255,.8) 100%);
}


/*Scrollbar*/
/*::-webkit-scrollbar {
  width: 5px;
}*/











